/* *background color */
body {
  background-color: hsl(30, 38%, 92%);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 5%;
  /* background-color: red; */
  height: 100vh;
}

@media (min-width: 510px) and (max-width: 700px) {
  #container {
    padding: 20% 0; /* *adds extra top and bottom padding between 510px and 700 px */
  }
}

/* *entire card */
.card {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.625rem;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

/* *card image */
.card-image {
  width: 100%;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

/* *prevents the desktop image from being displayed when viewport width its <=700px */
.desktop-image {
  display: none;
}

/* *everything below/beside the image */
.card-content {
  padding: 5%;
}

p,
h4,
button {
  font-size: 0.9375rem;
}

h2,
h3 {
  font-family: "Fraunces", serif;
}

/* *PERFUME */

h1 {
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.3125rem;
  font-size: 0.75rem;
}

/* *"Gabrielle Essence Eau De Parfum"  */
h2 {
  margin-top: 0.625rem;
  font-size: 2.1875rem;
}

/* *paragraph */
p {
  line-height: 1.6;
  color: hsl(228, 12%, 48%);
  margin-bottom: 0;
}

/* *contains the 2 prices */
.prices-container {
  display: flex;
  align-items: center;
}

/* *"$149.99" */
h3 {
  font-size: 2.1rem;
  color: hsl(158, 36%, 37%);
  margin: 20px 20px 24px 0;
}

/* *"$169.99" */
h4 {
  font-weight: 500;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  margin: 3% 0;
}

button {
  color: hsl(0, 0%, 100%);
  border-radius: 0.625rem;
  background-color: hsl(158, 36%, 37%);
  padding: 16px 0.17rem;
  border: none;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

/* *button icon */
svg {
  position: relative;
  margin-right: 0.625rem;
}

button:hover {
  background-color: hsl(156, 34%, 16%);
}

/* ?media query to change card to a horizontal card above 700px */
@media (min-width: 701px) {
  .card {
    width: 41.25rem; /*hardcoded card width, so that the size of the card doesn't change as viewport width increases*/
    display: flex;
    flex-direction: row;
  }

  /* *prevents the mobile image from being displayed when viewport width its >700px */
  .mobile-image {
    display: none;
  }

  .desktop-image {
    display: inline; /*? changes display back from none (when the viewport was <=700 px) to inline (inline because we don't want to change the width) */
    border-radius: 0;
    width: 45%;
    object-fit: cover;
  }

  h2 {
    font-size: 2.5rem;
  }
}
